@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,700);

body {
  margin: 0;
  font-size: 24px;
  font-family: quicksand;
  background:
    -moz-linear-gradient(
      left,
      rgba(190, 109, 185,1) 0%,
      rgba(85, 40, 91,1) 100%
  );
  background:
    -webkit-linear-gradient(
        left,
        rgba(190, 109, 185,1) 0%,
        rgba(85, 40, 91,1) 100%
  );
}

a {
  color: whitesmoke;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.4s;
}

a:hover {
  color: #1976d2;
}

.text-center {
  text-align: center;
}

.top-bar {
  padding: 10px 15px;
  margin-bottom: 50px;
}
.top-bar::after {
  content: '';
  display: block;
  clear: both;
}

.top-bar-left {
  float: left;
  font-size: 1.5em;
}

.top-bar-right {
  float: right;
}

.top-bar a,
.nav a {
  margin: 0 8px;
}
.container {
  margin: 0 auto;
  width: 1000px;
  font-family: quicksand;
  /*text-align: center;*/
}
sidebar {
  padding-left: 20px;
}
article.eventdetail {
  /*border-bottom-style: groove;*/
  margin-bottom: 5px;
}
.card {
  background-color: transparent;
}
.card-heading {
  padding: 16px;
}

.field-line, .button-line {
  padding: 5px;
}

.error-message {
  padding: 0 16px;
  color: tomato;
}

.success-message {
  padding: 0 16px;
  color: green;
}
#userpage {
  display:flex;
}
#eventpagebody {
  display : flex;
}
.image {
  max-width: 100px;
  max-height: 100px;
}
sidebar {
    max-height: 900px;
    overflow-y: scroll;
}

#react-app {
  min-height : 900px;
  font-family: quicksand;
  font-weight: lighter;
  background:
    -moz-linear-gradient(
      left,
      rgba(190, 109, 185,1) 0%,
      rgba(85, 40, 91,1) 100%
  );
  background:
    -webkit-linear-gradient(
        left,
        rgba(190, 109, 185,1) 0%,
        rgba(85, 40, 91,1) 100%
  );
}

.cardTitle {
  background-color: gray;
}

#map {
  /*max-width: 500px*/
  padding: 10px 10px 10px 75px;
}
#btn {
  height: 30px;
}
#address {
  width: 350px;
  height: 30px;
}
/*#search_address {
   width: 500px;
   padding: 10px 10px 10px 10px;
}
#map_div {
  padding: 0px 10px 10px 10px;
}*/
/*this is for that geo location thing and the event form*/
form {
  text-align: center;
}
